@font-face {
  font-family: 'alex_brushregular';
  src: url("../fonts/alexbrush-regular-webfont.woff2") format("woff2"), url("../fonts/alexbrush-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'linden_hillregular';
  src: url("../fonts/lindenhill-webfont.woff2") format("woff2"), url("../fonts/lindenhill-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "linden_hillregular", Times New Roman, serif;
}

@font-face {
  font-family: 'bootstrap_font';
  src: url("assets/bootstrap/fonts/glyphicons-halflings-regular.eot") format("eot"), url("assets/bootstrap/fonts/glyphicons-halflings-regular.svg") format("svg"), url("assets/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("ttf"), url("assets/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("assets/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header-mobile {
  font-family: "alex_brushregular", Times New Roman, serif;
  font-size: 4rem;
}

.header-mobile .navbar-toggle {
  border-color: transparent;
  margin-right: 5%;
  margin-top: 5%;
}

.header-mobile .navbar-toggle:focus, .header-mobile .navbar-toggle:hover {
  background-color: transparent;
}

.header-mobile .navbar-toggle .icon-bar {
  background-color: #EBBA4D;
  width: 3rem;
  margin-bottom: 25%;
}

.header-menu {
  font-family: "alex_brushregular", Times New Roman, serif;
  background-color: #FDFDFD;
  border: none;
}

.header-menu ul li {
  font-size: 3rem;
}

.header-menu ul li a {
  color: #202020;
}

.header-menu ul li a:hover {
  color: #EBBA4D;
  transition: color 0.4s ease 0s;
  background-color: #FDFDFD;
}

.header-menu ul li a:active {
  color: #EBBA4D;
  transition: color 0.4s ease 0s;
}

header {
  background-image: url("../images/brush.jpg");
  background-color: grey;
  background-attachment: scroll;
  background-size: cover;
  overflow: hidden;
}

header .site-heading {
  padding: 100px 0 50px;
  color: #202020;
  text-align: center;
}

header .site-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

header .site-heading h1:nth-child(2) {
  letter-spacing: 25px;
  word-spacing: -60px;
}

header .site-heading span {
  color: #EBBA4D;
}

header .site-heading .gold-dot {
  font-size: 4rem;
  color: #EBBA4D;
}

header .site-heading h2 {
  margin-top: 15%;
  margin-bottom: 10%;
}

header .site-heading .page-header {
  border-bottom: none;
}

header .site-heading .gold-link {
  font-size: 2rem;
  color: #EBBA4D;
}

@media only screen and (min-width: 768px) {
  header .site-heading {
    padding: 150px 0;
  }
  header .site-heading h1 {
    font-size: 80px;
  }
}

.photo-break {
  background-image: url("../images/lips.jpg");
  background-color: grey;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 64.375%;
}

#services {
  background-color: #F6F6F6;
}

#services .services-header {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#services .services-header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#services .services-header h1 .gold-dot {
  font-size: 4rem;
  color: #EBBA4D;
}

.services-details {
  text-align: center;
  text-transform: uppercase;
}

.services-details h3 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.services-details .services-details-header:after {
  content: "";
  padding-left: 40px;
  border-bottom: 2px solid #EBBA4D;
  position: relative;
  top: -20px;
}

.services-details .services-details-header-middle:after {
  content: "";
  padding-left: 40px;
  border-bottom: 2px solid #EBBA4D;
  position: relative;
  top: -40px;
}

.services-details .service-description {
  margin-top: 8%;
  font-style: italic;
}

.service-details-middle .service-description-middle {
  text-align: -webkit-center;
  font-style: italic;
}

.service-details-middle .service-description-middle p {
  width: 50%;
}

.services-main-book {
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
  font-size: 2.5rem;
}

.services-main-book a {
  color: #EBBA4D;
}

#about {
  background-color: #FDFDFD;
}

#about .about-header {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#about .about-header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#about .about-header h1 .gold-dot {
  font-size: 4rem;
  color: #EBBA4D;
}

#about .about-main {
  margin-bottom: 15%;
}

#about .about-main .about-text {
  margin-top: 5%;
}

#about .about-main p {
  font-style: italic;
}

#portfolio .row {
  margin-top: 5%;
}

#portfolio .portfolio-header {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#portfolio .portfolio-header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#portfolio .portfolio-header h1 .gold-dot {
  font-size: 4rem;
  color: #EBBA4D;
}

#portfolio .images {
  padding: 0;
  margin: 0;
  text-align: -webkit-center;
  overflow: hidden;
}

#portfolio .images:hover {
  opacity: 0.5;
}

#portfolio .images img {
  height: 300px;
}

@media (max-width: 991px) {
  #portfolio .first-img img {
    height: auto;
  }
}

#contact {
  background-color: #FDFDFD;
}

#contact .contact-header {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}

#contact .contact-header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#contact .contact-header h1 .gold-dot {
  font-size: 4rem;
  color: #EBBA4D;
}

#contact .contact-data {
  font-style: italic;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3%;
}

#contact .contact-form input {
  margin-top: 3%;
  margin-bottom: 8%;
  width: 23rem;
  height: 3.5rem;
  border-color: #EBBA4D;
  color: #EBBA4D;
  padding: 2%;
  box-shadow: none;
  font-style: italic;
  background-color: #FDFDFD;
}

#contact .contact-form input:focus {
  color: #EBBA4D;
  border-color: #EBBA4D;
  background-color: #FDFDFD;
}

#contact .contact-form textarea {
  margin-top: 2%;
  padding: 5%;
  width: 30rem;
  border-color: #EBBA4D;
}

#contact .contact-form button {
  float: right;
  background-color: #FDFDFD;
  font-size: 2rem;
  border: 1px solid #EBBA4D;
  font-style: italic;
}

@media (max-width: 991px) {
  #contact .contact-form {
    margin: 0 auto;
    text-align: center;
  }
  #contact .contact-form button {
    float: none;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

#contact .contact-icons {
  text-align: center;
  margin-top: 25%;
}

#contact .contact-icons a {
  margin-right: 2%;
  color: currentColor;
}

#footer {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
